[main]
bank = My Bank
acctno = 1234567890
terms = 30 days
sort = 00-00-00

acctname = Company Name
acctaddress = Company address
acctcity = Town/City
acctpostcode = Postcode


companyno = 1234567890
svcaddress = Property address
svccity =  Town/City
svcpostcode = Postcode

